@{
    ViewBag.Title = "Acesso Negado";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-1">401</h1>
                <p class="lead">Acesso Negado</p>
                <p>Você não tem permissão para acessar esta página.</p>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Retorne a página inicial</a>                
            </div>
        </div>
    </div>
</div>
