@model Maquiagens

@{
    ViewData["Title"] = "Create";
}
<br />
<div class="card">
    <div class="card-header">
        <div class="text-center">
            <h1>Cadastrar novo Produto</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="CodInterno" class="control-label"></label>
                                <input asp-for="CodInterno" class="form-control" />
                                <span asp-validation-for="CodInterno" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Linha" class="control-label"></label>
                                <input asp-for="Linha" class="form-control" />
                                <span asp-validation-for="Linha" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Cor" class="control-label"></label>
                                <input asp-for="Cor" class="form-control" />
                                <span asp-validation-for="Cor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="DescricaoProdutoFiscal" class="control-label"></label>
                                <input asp-for="DescricaoProdutoFiscal" class="form-control" />
                                <span asp-validation-for="DescricaoProdutoFiscal" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="UnidadeSolto" class="control-label"></label>
                                <input asp-for="UnidadeSolto" class="form-control" />
                                <span asp-validation-for="UnidadeSolto" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Cartucho" class="control-label"></label>
                                <input asp-for="Cartucho" class="form-control" />
                                <span asp-validation-for="Cartucho" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="NCM" class="control-label"></label>
                                <input asp-for="NCM" class="form-control" />
                                <span asp-validation-for="NCM" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="QtdCaixa" class="control-label"></label>
                                <input asp-for="QtdCaixa" class="form-control" />
                                <span asp-validation-for="QtdCaixa" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="QtdCartucho" class="control-label"></label>
                                <input asp-for="QtdCartucho" class="form-control" />
                                <span asp-validation-for="QtdCartucho" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="Altura" class="control-label"></label>
                                <input asp-for="Altura" class="form-control" />
                                <span asp-validation-for="Altura" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Largura" class="control-label"></label>
                                <input asp-for="Largura" class="form-control" />
                                <span asp-validation-for="Largura" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Profundidade" class="control-label"></label>
                                <input asp-for="Profundidade" class="form-control" />
                                <span asp-validation-for="Profundidade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="Peso" class="control-label"></label>
                                <input asp-for="Peso" class="form-control" />
                                <span asp-validation-for="Peso" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="CaixaEmbarque" class="control-label"></label>
                                <input asp-for="CaixaEmbarque" class="form-control" />
                                <span asp-validation-for="CaixaEmbarque" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group" align="right">
                            <input type="submit" value="Salvar" class="btn btn-primary" /> <a asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-circle-left"></i> Volta para a lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>